@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Azeret Mono;
}

/* ...global..... */
.description {
    color: rgb(13, 19, 33, 0.7);
}

.section-heading {
    width: 852px;
    text-align: center;
    margin: 80px auto;
}

/*........Header Design ......................*/
.header-section-container {
    margin-bottom: 90px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.cover {
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.cover-img {
    margin: 26px 0;
}

.cover-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    width: 998px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.cover-description {
    color: rgba(13, 18, 31, 0.501);
    width: 852px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.contact-btn {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    margin-bottom: 26px;
    font-size: 20px;
}

/* ........Development purpose section....... */
.why-development-section-container {
    border-radius: 16px;
    width: 1140px;
    background: rgba(13, 19, 33, 0.03);
    margin: 90px auto;
    padding: 80px;
}

.dev-heading {
    text-align: center;
    width: 852px;
    margin: 0 auto;
}

.goal-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.goal-description {
    color: rgb(13, 19, 33, 0.7);
    font-weight: 400;
    line-height: 26px;
}

.dev-goal {
    display: flex;
    width: 946px;
    margin: 90px auto;
}

.dev-goal .left {
    width: 50%;
}

.dev-goal .right {
    width: 50%;
}

.dev-goal>.right img {
    float: right;
}

.dev-goal .title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.btn-learn-more {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

/* .....Inspiration section Styles....... */
.inspiration-section-container {
    width: 1140px;
    margin: 90px auto;
}

.inspiration-heading {
    width: 852px;
    text-align: center;
    margin: 0 auto 80px auto;
}

.inspiration-video iframe {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
}

/* .........Target Section Styles..... */
.target-section-container {
    margin-bottom: 90px;
}

.target-container {
    display: flex;
    width: 1140px;
    margin: 45px auto;
    gap: 30px;
}

.html-card {
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.css-card {
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.js-card {
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

/* ...........Next Target Style..... */
.next-target-section-container{
    margin-bottom: 90px;
}
.cards {
    width: 1140px;
    margin: 0 auto;

}

.card {
    display: flex;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin: 25px 0;
}

.card .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}